@import "../abstract/mixins";

body{
	.wrapper{
		// cursor: url("../image/falloutCursor\ cur"), auto ;
		@include centeringMixin;
		background-repeat: no-repeat;
		background-size: fit;
		overflow: hidden;
	
		z-index: 3;
		img{
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
		}
		min-height: 100vh ;
		width: 100vw;

		.switc-css{
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
		}
		
	}
}


.scan{
	overflow: hidden;
	width:100vw;
	height:100%;
	background:linear-gradient(rgba(0,0,0,0),#4eff71ae);position:absolute;
	animation:scan;
	animation-duration:3.2s;
	animation-iteration-count:
	 infinite;
	 z-index:-1;
	 opacity:0.12;
	 --wrapper-height: 100vh;
	}

	@keyframes scan {
		0% {
			top: calc(-1 * var(--wrapper-height)); 
		}
		100% {
			top: calc(100% - var(--wrapper-height)); 
		}
		
	}