// @import "../abstract/mixins";

.noteFlow{
	@include boxMixin;
	@include textStyle;
	animation: bounceInLeft 1.35s ease 0s 1 normal forwards;


	display: flex;
	flex-direction: column;
	align-items: center;
	scrollbar-color: $main-color transparent;
	overflow: scroll;
	

	section{

			height: max-content;
			width: 100% ;
			max-width: 80%;
			margin: 0.5rem;
			padding: 1rem;		
			border-bottom: $main-color 2px solid;
			
			.notePtag{
				border: 1px solid #4eff7180;
				border-radius: 0.5rem;
				padding: 0.3rem;
				margin: 1rem;
				max-width: 100%;
				height: fit-content;
				overflow-wrap: break-word;
				font-weight: 500;
				font-size: 1.12rem;
			}

			.notePtag:hover{
				background-color: #53fc75cf;
				color: rgb(255, 0, 0);
				transition: 0.5s;
			}

			.titleTag{
				padding-top: 1rem;
				font-size: 1.15rem;
				font-weight: 600;
			}

			.timeTag{
				font-size: 0.9rem;
				// padding-bottom: 1rem;
			}

			.usernameTag{
				font-size: 1rem;
				font-weight: 500;
				padding-bottom: 0.7rem;
			}
			
			div{
				display: flex;
				flex-wrap: wrap;
				width: fit-content;
				gap:0.2rem;
				padding: 0.1rem;
			}
	}
					
}

@keyframes bounceInLeft {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(-68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}