
@mixin centeringMixin{
	display: flex;
	justify-content: center;
	align-items: center;

}

@mixin boxMixin{
	
	height: 85vh;
	width: 25vw;
	border-radius: 0.8rem;
	background-color: #58bd6b70;

		
}

@mixin textStyle{
	color: $main-color;
	font-family: $fallout-font;
	letter-spacing: 0.1rem;

}

@mixin buttonStyle(){
		background-color: $secondary-color ;
		box-shadow: 0 0 10px $secondary-color;
		color: $main-color;
		text-shadow: 1px 1px 7px $main-color;
		font-family: $fallout-font;
		cursor:url(http://www.rw-designer.com/cursor-extern.php?id=25022), pointer;
		border: none;
}

@mixin inputStyle{
	background-color: transparent;
	color: $main-color;
	border: $main-color 1px solid;
	border-radius: 0.47rem;
	font-family: $fallout-font;
	letter-spacing: 0.1rem;
	caret-color: $main-color;

}

@mixin inputHoverEffect{
	background-color: #53fc75cf;
	color: $secondary-color;
	transition: 0.5s;
}

@mixin buttonHoverEffect{
	background-color: $main-color ;
	box-shadow: 0 0 10px $main-color;
	color: $secondary-color;
	text-shadow: 1px 1px 7px $secondary-color;

}